ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  width: 528px; 
  padding:0;
  margin:0;
}

.categories-picker {
  overflow-x: scroll;
  height: 84px;
}

ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
}

ul.thumbnails.image_picker_selector li.group {
  width:100%;
} 

ul.thumbnails.image_picker_selector li.group_title {
  float: none; 
}

ul.thumbnails.image_picker_selector li {
  margin: 0;
  display: inline;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 6px;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  width: 44px;
  background:none;
  display:inline-block;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none; 
  width: 100%;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #fff; 
}
