/*
 * PICKLIST STYLES 
 */


/*
 * TEMPLATE
 */

h1, h2, h3, p, li, a, input, textarea, button, label, span {
    font-family: 'Karla', sans-serif;
}

body {
	background: #F3EDEC;
}

.image img {
    width: 100%;
}

h1 {
	font-size: 2.6em;
	text-align: center;
	color: #ff8d6b;
	font-weight: bold;
	padding:0;
	margin:0;
}

h1 a {
	color: #ff8d6b;
}

h2 {
	font-size: 2em;
}

h3 {
	padding:0;
	margin:0 0 8px 0;
}

.container {
	margin-bottom: 100px;
}

a {
	color: #ff6462;
	font-weight: bold;
}

.navbar-default {
	background:none;
	border:none;
}

.navbar {
	margin: 30px 0;
}

.alert-info {
    color: #ff6464;
    background-color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff6462;
    border-color: #ff6462;
    font-family: 'Karla', sans-serif;
}

.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: none;
    border-color: none;
}

.pagination li a, 
.pagination li span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #ff6462;
    text-decoration: none;
    background-color: none!important;
    border: none;
}

ol {
	padding: 0 8px;
	margin: 16px 0 0 0;
}

ol li {
	padding-bottom: 16px;
}


/*
 * NAVIGATION
 */

.looksy-menu {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.looksy-navigation {
 	list-style: none;
 	background: #f4eeed;
 	margin:0;
    text-align: center;
    padding: 0 0 10px 0;
    border-top: 5px solid #ff6462;
}

.looksy-navigation li {
 	display: inline-block;
 	margin-right: 24px;
 	font-size: 0;
}

.looksy-navigation li a {
 	display: inline-block;
 	font-size: 0;
}

.reply {
	margin-top: 10px;
}

.looksy-navigation .home a {
	background: url('../img/navigation/off/home.png') 0 0 no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 8px;
}

.home .looksy-navigation .home a {
	background: url('../img/navigation/on/home.png') 0 0 no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 8px;
}

.looksy-navigation .search a {
	background: url('../img/navigation/off/search.png') 0 0 no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 8px;
}

.search .looksy-navigation .search a, 
.categories-page .looksy-navigation .search a {
	background: url('../img/navigation/on/search.png') 0 0 no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 8px;
}

.looksy-navigation .add a {
	background: url('../img/navigation/on/add.png') 0 0 no-repeat;
	background-size: 60px;
	width: 60px;
	height: 60px;
}

.looksy-navigation .friends a {
	background: url('../img/navigation/off/friends.png') 0 0 no-repeat;
    background-size: 48px;
    width: 48px;
    height: 40px;
    position: relative;
	top: 8px;
}

.friends .looksy-navigation .friends a {
	background: url('../img/navigation/on/friends.png') 0 0 no-repeat;
	background-size: 48px;
    width: 48px;
    height: 40px;
    position: relative;
	top: 8px;
}

.looksy-navigation .profile a {
	background: url('../img/navigation/off/profile.png') 0 0 no-repeat;
	background-size: 37px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 8px;
}

.myprofile .looksy-navigation .profile a {
	background: url('../img/navigation/on/profile.png') 0 0 no-repeat;
	background-size: 37px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 8px;
}

.looksy-menu .friends {
	position: relative;
	height: 52px;
}

.looksy-menu .friends .friend-requests {
    position: absolute;
    right: -6px;
    bottom: 0;
    display: block;
    background: url('../img/icons/count.png') 0px 0px no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 11px;
    padding-top: 3px;
}

.looksy-menu .categories {
	position: absolute;
    top: -40px;
    margin: 0px 12.5%;
    height: 40px;
    width: 75%;
    padding: 6px 8px;
    overflow-x: scroll;
    background: #ff8d6b;
    display:none;
}

.looksy-menu .categories ul {
	width: 690px; 
	padding: 0;
	margin: 0;
}

.looksy-menu .categories li {
	display:inline;
	margin-right: 16px;
	font-size: 1.4em;
}

.looksy-menu .categories a {
	color: #000;
}

/*
 * SIGN IN
 */

.authentication {
	background: url('../img/template/auth_background.jpg') 0 0 repeat;
}

.authentication #email {
	background: #fff url('../img/icons/email.png') 4px 7px no-repeat;
	padding-left: 33px;
}

.authentication #password {
	background: #fff url('../img/icons/password.png') 4px 3px no-repeat;
	padding-left: 33px;
}

.authentication #username {
	background: #fff url('../img/icons/username.png') 4px 3px no-repeat;
	padding-left: 33px;
}

.authentication h1 {
	color: #FF6464;
	font-size: 5em;
	font-weight: bold;
}

.authentication .strapline {
	font-size: 1.4em;
}

.authentication .form-control {
	font-size: 1.4em;
}

.btn {
	background: #FF6464;
	width: 100%;
	text-align: center;
	color: #fff;
	border: none;
}

.authentication .auth-form {
	margin-top: 100px;
}

/*
 * TIMELINE
 */

.user {
	position: absolute;
    bottom: 74px;
    left: 8px;
}

.media-heading {
    margin-top: 4px;
    margin-bottom:0;
}

.media-left, 
.media>.pull-left {
    padding-right: 4px;
}

.profile-image, 
.user .profile-image {
	width: 40px;
	height: 40px;
	z-index: 1;
	border-radius: 50%;
	border: 3px solid #FF6464;
	position:relative;
	left: 4px;
}

.media .location {
	padding: 0 4px;
}

.user .username a {
	background: #FF6464;
    display: inline-block;
    color: #fff;
    padding: 0 0 0 48px;
    font-size: 1em;
    position: absolute;
    left: 0;
    margin: 8px 0 0 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top: 20px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.website-wrapper .image img {
	width: 100%;
	object-fit:cover;
	height: 265px;
}

.website-wrapper {
	position: relative;
	border-bottom: 4px solid #fff;
	padding-bottom: 8px;
	margin-bottom: 16px;
}

.website-wrapper .image {
	overflow: hidden;
}

.website-wrapper .details {
	padding: 0;
    position: absolute;
    bottom: 143px;
    left: 8px;
    text-align: left;
    margin: 0 auto;
    width: 306px;
}

.website-wrapper .details a {
	color: #fff;
	background: #ff6462;
}

.website-wrapper .details .title {
	font-size: 1.8em;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 1.19em;
}

.website-wrapper .review {
	position: absolute;
	bottom: 37px;
	left: 8px;
	width: 238px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.website-wrapper .review span{
    font-weight: bold;
    background: #ff6462;
    font-size: 1.4em;
    color: #000;
    width: 100%;
    font-style: italic;
}

.website-wrapper .type {
    position: absolute;
    top: 8px;
    left: 8px;
}

.website-wrapper .type img {
	width: 100%;
}

.website-wrapper .details .timing {
    color: #fff;
    background: #ff6462;
    display: inline-block;
}

.website-wrapper .type a {
	color: #000;
	font-size: 1.4em;
	display: block;
}

.website-wrapper .type a:first-letter {
	text-transform: uppercase;
}

/* colour scheme */

/* taste */

.pick-food .review span, 
.pick-food .label-food, 
.pick-food .details a,
.pick-food .user .username a, 
.pick-food .edit-pick a {
    background: #FF73B7;
}

.pick-food .profile-image,
.pick-food .user .profile-image {
	border: 3px solid #FF73B7;
}

/* read */

.pick-web .review span, 
.pick-web .label-web, 
.pick-web .details a,
.pick-web .user .username a, 
.pick-web .edit-pick a  {
    background: #FF6B97;
}

.pick-web .profile-image,
.pick-web .user .profile-image {
	border: 3px solid #FF6B97;
}

.pick-news .review span, 
.pick-news .label-news, 
.pick-news .details a,
.pick-news .user .username a, 
.pick-news .edit-pick a  {
    background: #FF6B97;
}

.pick-news .profile-image,
.pick-news .user .profile-image {
	border: 3px solid #FF6B97;
}

/* watch */

.pick-tv .review span, 
.pick-tv .label-tv, 
.pick-tv .details a,
.pick-tv .user .username a, 
.pick-tv .edit-pick a  {
    background: #FF6379;
}

.pick-tv .profile-image,
.pick-tv .user .profile-image {
	border: 3px solid #FF6379;
}

.pick-film .review span, 
.pick-film .label-film, 
.pick-film .details a,
.pick-film .user .username a, 
.pick-film .edit-pick a  {
    background: #FF6379;
}

.pick-film .profile-image,
.pick-film .user .profile-image {
	border: 3px solid #FF6379;
}

.pick-video .review span, 
.pick-video .label-video, 
.pick-video .details a,
.pick-video .user .username a, 
.pick-video .edit-pick a  {
    background: #FF6379;
}

.pick-video .profile-image,
.pick-video .user .profile-image {
	border: 3px solid #FF6379;
}

/* see */

.pick-art .review span, 
.pick-art .label-art, 
.pick-art .details a,
.pick-art .user .username a, 
.pick-art .edit-pick a  {
    background: #FF5A58;
}

.pick-art .profile-image,
.pick-art .user .profile-image {
	border: 3px solid #FF5A58;
}

/* listen */

.pick-music .review span, 
.pick-music .label-music, 
.pick-music .details a,
.pick-music .user .username a, 
.pick-music .edit-pick a  {
    background: #FF6C50;
}

.pick-music .profile-image,
.pick-music .user .profile-image {
	border: 3px solid #FF6C50;
}

.pick-podcast .review span, 
.pick-podcast .label-podcast, 
.pick-podcast .details a,
.pick-podcast .user .username a, 
.pick-podcast .edit-pick a  {
    background: #FF6C50;
}

.pick-podcast .profile-image,
.pick-podcast .user .profile-image {
	border: 3px solid #FF6C50;
}

/* buy  FF7F48 */

/* play */

.pick-game .review span, 
.pick-game .label-game, 
.pick-game .details a,
.pick-game .user .username a, 
.pick-game .edit-pick a  {
    background: #FF8F3F;
}

.pick-game .profile-image,
.pick-game .user .profile-image {
	border: 3px solid #FF8F3F;
}

/* use */

.pick-app .review span, 
.pick-app .label-app, 
.pick-app .details a,
.pick-app .user .username a, 
.pick-app .edit-pick a  {
    background: #FFA135;
}

.pick-app .profile-image,
.pick-app .user .profile-image {
	border: 3px solid #FFA135;
}



/*
 * PICKS
 */

.pick .videoWrapper {
	margin-bottom: 16px;
	border-bottom:none;
}

.pick .website-wrapper {
	margin-bottom: 8px;
	border-bottom:none;
	padding-bottom: 8px;
}

.pick .review {
	position: relative;
}

.pick .review .comment {
	color: #fff;
	padding: 8px 16px;
	background: #ff6462;
	width: 321px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

.pick .review .comment:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -4px;
    border-style: solid;
    border-width: 15px 9px 0;
    border-color: #ff6462 transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: rotate(-71deg);
    -ms-transform: rotate(-71deg);
    -webkit-transform: rotate(-71deg);
}

.pick .review .comment .text {
	padding:0;
	margin:0;
}

.pick .review .comment .text a {
	color: #fff;
}

.pick .details {
	bottom: 16px;
}

.pick .comment .timing, 
.pick .reply .timing {
	margin:0;
	padding:0;
}


/*
 * REPLIES
 */

.reply {
	padding: 0;
    margin: 8px 0 0 0;
}

.pick .reply {
	position: relative;
}

.pick .reply .comment {
	color: #fff;
    padding: 8px 16px;
    background: #000;
    width: 321px;
    margin-left:60px;
    -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

.pick .reply .comment:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 97%;
    border-style: solid;
    border-width: 15px 9px 0;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: rotate(-57deg);
    -ms-transform: rotate(-57deg);
    -webkit-transform: rotate(-57deg);
}

.pick .reply .comment .text {
	padding:0;
	margin:0;
}

.pick .reply .user {
	position: initial;
}

.pick .reply .profile-image {
	margin-top: 16px;
	position: relative;
	top: 10px;
}

.form-reply {
	margin-top: 16px;
}




/*
 * COMMENTS
 */

.comments img {
	width: 30px;
    height: 28px;
    position: absolute;
    right: 8px;
    bottom: 44px;
}

.comments .count {
	color: #fff;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

/*
 * FRIENDS
 */

.search textarea {
	font-size: 1.2em;
}

.accept {
	width: 100px;
	position: absolute;
	top:0;
	right:0;
}

.friend-block {
	margin-bottom: 16px;
}

.friend-block.requests {
	margin-bottom: 8px;
	border-bottom: 4px solid #fff;
}

.friends #friends {
	background: #fff url('../img/icons/username.png') 4px 3px no-repeat;
	padding-left: 33px;
	font-size: 1.4em;
}

.not-yet-friend-of-mine {
	position:relative;
	margin-bottom: 16px;
	border-bottom: 4px solid #fff;
	padding-bottom: 16px;
}

.not-yet-friend-of-mine:last-child {
	border-bottom: none;
	margin-bottom: 16px;
	padding-bottom: 16px;
}

.friend-of-mine {
	border-bottom: #fff 4px solid;
	padding-bottom: 16px;
	margin-bottom: 16px;
	position:relative;
}

.unfriend {
	display: block;
	width: 100%;
	background: #fff;
	color: #ff6462;
	border: 1px solid #ccc;
}

.friends .unfriend {
	width: 100px;
	position: absolute;
	top:0;
	right:0;
}

.friends .media h4, 
.friends .media p{
	margin-bottom: 0;
}

.friends .search-form {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	border-bottom: 4px solid white;
}

.friends .profile-image {
	position:relative;
	left: 0px;
}

/*
 * Add
 */

.add-page .share-text {
	font-size: 1.4em;
	font-weight: bold;
}

.add-page form {
	margin-bottom: 16px;
}

.add-page .add {
	margin-bottom: 10px;
}

.preview {
	display:none;
}

.preview img {
	width: 100%;
	margin-bottom: 32px;
}

.preview .title {
	margin: 8px 0 16px;
	font-size: 1.2em;
}

.add-page .limit {
	font-size: 1.2em;
}

/*
 * PROFILE
 */

.profile .pick, 
.myprofile .pick {
	position: relative;
	margin-bottom: 16px;
	padding-bottom: 16px;
}

.profile .website-wrapper.pick .image,
.add .website-wrapper.pick .image, 
.myprofile .website-wrapper.pick .image {
	height: 140px;
	overflow: hidden;
	position: relative;
}

.profile .pick .details,
.add .pick .details, 
.myprofile .pick .details {
	position: absolute;
	bottom: 24px;
	left: 8px;
}

.profile .pick .type, 
.myprofile .pick .type, 
.add .pick .type {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
}

.profile .pick .edit-pick, 
.myprofile .pick .edit-pick, 
.add .pick .edit-pick {
	position: absolute;
	top: 8px;
	right: 8px;
}

.profile .pick .edit-pick a, 
.add .pick .edit-pick a, 
.myprofile .pick .edit-pick a {
	color: #fff;
	font-size: 1.2em;
	padding: 0 4px;
	text-transform: uppercase;
}

.myprofile .edit-link {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
}

.add .delete-link {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 40px;
}

.profile .comments img, 
.myprofile .comments img {
	width: 30px;
    height: 28px;
    position: absolute;
    right: 8px;
    bottom: 22px;
}

.profile .comments .count, 
.myprofile .comments .count {
	color: #fff;
    position: absolute;
    right: 20px;
    bottom: 18px;
}

/*
 * PROFILE EDIT
 */

.profile-edit {
	position: absolute;
	top: 23px;
	right: 0;
}

.profile-edit img {
	height: 44px;	
	width: 44px;
}

/*
 * CATEGORIES 
 */

.categories-page .details {
	bottom: 16px;
}


/*
 * CATEGORIES 
 */


.categories {
	padding:0;
	margin:0;
	list-style:none;
}

.categories li {
	padding-bottom: 16px;
}

.categories li img {
	width: 40px;
}

.categories span {
	padding-left: 8px;
}

/*
 * EDIT 
 */

.edit input {
	font-size: 1em;
}

.edit form {
	margin-top: 10px;
}

.edit #description {
	min-height: 80px;
	font-size: 1em;
}

.edit-link {
	position: absolute;
	top: 32px;
	right: 16px;
	width: 40px;
}

.edit-link img {
	width: 100%;
}

.profile .edit-link {
	position: absolute;
	top: 0;
	right: 0;
}

.delete-link {
	position: absolute;
	top: 30px;
	right: 16px;
	width: 40px;
}

.delete-link img {
	width: 100%;
}

.back-link {
	position: absolute;
	top: 32px;
	left: 16px;
	width: 40px;
}

.back-link img {
	width: 100%;
}

.edit .profile-image-edit {
	display: block;
	margin: 0 auto 8px;
	border-radius: 50%;
	border: 4px solid #FF6464;
}

.edit label {
	display: block;
}

.profile-image-edit img {
	width: 145px;
	height: 145px;
}

select {
	background: #fff;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Karla', sans-serif;
    height: 36px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
    font-size: 1.2em;
}

.uploadcare-widget-button-open {
	font-family: 'Karla', sans-serif;
	margin-bottom: 16px;
	background: #FF6464;
}

.uploadcare-widget-circle--canvas {
  width: 1em;
  height: 1em;
  color: #FF6464;
  border-color: #FF6464;
}


/* desktop styles for neatness */

@media only screen and (min-device-width : 0px) and (max-device-width : 320px) { 

	.looksy-navigation li {
	    margin-right: 12px;
	}


}

@media only screen and (min-device-width : 0px) and (max-device-width : 360px) { 

	.looksy-navigation li {
	    margin-right: 16px;
	}

}










