/*
 * LOOKSY STYLES 
 */


/*
 * TEMPLATE
 */

h1, h2, h3, p, li, a, input, textarea, button, label {
    font-family: 'Karla', sans-serif;
}

body {
	background: #F3EDEC;
}

.image img {
    width: 100%;
}

h1 {
	font-size: 3em;
	text-align: center;
	color: #ff8d6b;
	font-weight: bold;
}

h1 a {
	color: #ff8d6b;
}

h2 {
	font-size: 2em;
}

.container {
	margin-bottom: 120px;
}

a {
	color: #ff6462;
	font-weight: bold;
}

.navbar-default {
	background:none;
	border:none;
}

.navbar {
	margin:0;
	min-height: 90px;
}

.alert-info {
    color: #ff6464;
    background-color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 1.4em;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff6462;
    border-color: #ff6462;
     font-family: 'Karla', sans-serif;
}

.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: none;
    border-color: none;
}

.pagination li a, .pagination li span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: none!important;
    border: none;
}


/*
 * SIGN IN
 */


.authentication {
	background: url('../img/template/auth_background.jpg') 0 0 no-repeat;
}

.authentication #email {
	background: #fff url('../img/icons/email.png') 4px 7px no-repeat;
	padding-left: 33px;
}

.authentication #password {
	background: #fff url('../img/icons/password.png') 4px 3px no-repeat;
	padding-left: 33px;
}

.authentication #username {
	background: #fff url('../img/icons/username.png') 4px 3px no-repeat;
	padding-left: 33px;
}

.authentication h1 {
	color: #FF6464;
	font-size: 5em;
	font-weight: bold;
}

.authentication .strapline {
	font-size: 1.4em;
}

.authentication .form-control {
	font-size: 1.4em;
}

.btn {
	background: #FF6464;
	width: 100%;
	text-align: center;
	color: #fff;
	border: none;
}

.authentication .auth-form {
	margin-top: 100px;
}


/*
 * NAVIGATION
 */

 .looksy-navigation {
 	list-style: none;
 	background: #f4eeed;
 	margin:0;
 	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 10px 0;
    border-top: 5px solid #ff6462;
 }

 .looksy-navigation li {
 	display:inline;
 	margin-right: 16px;
 }

.reply {
	margin-top: 10px;
}

.looksy-navigation .home img {
	width: 40px;
	height: 40px;
}

.looksy-navigation .search img {
	width: 40px;
	height: 40px;
}

.looksy-navigation .add img {
	width: 60px;
	height: 60px;
}

.looksy-navigation .friends img {
	width: 50px;
	height: 40px;
}

.looksy-navigation .notification img {
	width: 40px;
	height: 40px;
}

.looksy-navigation .profile img {
	width: 40px;
	height: 40px;
}


/*
 * TIMELINE
 */

.user {
	position: absolute;
	bottom: 60px;
	left: 8px;
}

.profile-image, 
.user .profile-image {
	width: 40px;
	height: 40px;
	z-index: 0;
}

.user .username a {
	background: #FF6464;
	display:inline-block;
	color: #fff;
}

.timing {
	font-weight: bold;
	margin-top: 4px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top: 20px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.website-wrapper img {
	width: 100%;
}

.website-wrapper {
 margin-top: 20px;
 position: relative;
 border-bottom: 4px solid #fff;
    padding-bottom: 20px;
}

.website-wrapper .details {
	padding: 0;
    position: absolute;
    top: 80px;
    left: 8px;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

.website-wrapper .details a {
	color: #fff;
	background: #ff6462;
	display:inline-block;
}

.website-wrapper .details p {
	color: #fff;
	background: #ff6462;
	display:inline-block;
}

.website-wrapper .details .title {
	font-size: 1.4em;
	padding:0;
	margin:0;
}

.website-wrapper .details .review {
	font-size: 1.4em;
	padding:0;
	margin:0;
	color: #000;
	width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.type.tv {
	background: url('../img/icons/categories/tv.png') 0 0 no-repeat;
}

.type.film {
	background: url('../img/icons/categories/film.png') 0 0 no-repeat;
}

.type.art {
	background: url('../img/icons/categories/art.png') 0 0 no-repeat;
}

.type.music {
	background: url('../img/icons/categories/music.png') 0 0 no-repeat;
}

.type.idea {
	background: url('../img/icons/categories/idea.png') 0 0 no-repeat;
}

.type.bomb {
	background: url('../img/icons/categories/bomb.png') 0 0 no-repeat;
}

.type.food {
	background: url('../img/icons/categories/eats.png') 0 0 no-repeat;
}



.website-wrapper .details .timing {
    color: #fff;
    background: #ff6462;
    display: inline-block;
}

/*
 * FRIENDS
 */

 .search textarea{
 	font-size: 1.2em;
 }

 .accept {
 	    display: inline;
    position: absolute;
    width: 100px;
    right: 16px;
    top: 26px;
 }

  .unfriend {
 	    display: inline;
    position: absolute;
    width: 100px;
    right: 16px;
    top: 26px;
    background: #fff;
    color: #ff6462;
    border: 1px solid #ccc;
 }

/*
 * FRIENDS
 */

.friends #friends {
	background: #fff url('../img/icons/username.png') 4px 3px no-repeat;
	padding-left: 33px;
	font-size: 1.4em;
}

.friend-block {
	border-bottom: #fff 4px solid;
	padding-bottom: 20px;
}

/*
 * ADD
 */

 .add .add {
 	margin-bottom: 10px;
 }

/*
 * PROFILE EDIT
 */

 .profile-edit {
 	    position: absolute;
    top: 23px;
    right: 0;
 }

 .profile-edit img {
 	    height: 44px;
    width: 44px;
 }

/*
 * SEARCH
 */


.categories {
	padding:12px 0 0 0;
	margin:0;
	list-style:none;
}

.categories li {
	padding-bottom: 16px;
}

.categories span {
	padding-left: 8px;
}


/*
 * EDIT 
 */

.edit input {
	font-size: 1.4em;
}

.edit form {
	margin-top: 10px;
}

.edit #description {
	min-height: 80px;
	font-size: 1em;
}

.edit-link {
	position: absolute;
	top: 26px;
	right: 16px;
}

.delete-link {
	position: absolute;
	top: 26px;
	left: 16px;
}

.back-link {
	position: absolute;
	top: 30px;
	left: 16px;
}

select {
	background: #fff;
	width: 100%;
	margin-bottom: 10px;
	font-family: 'Karla', sans-serif;
	padding: 4px 8px;
	color: #999;
}