/*
 * LOOKSY STYLES 
 */


/*
 * TEMPLATE
 */


.image img {
    width: 100%;
}

h1, h2, h3, p, li, a, input, textarea, button, label {
    font-family: 'Karla', sans-serif;
}

h1 {
	font-size: 3em;
}

h1 a {
	color: #ff8d6b;
}

h2 {
	font-size: 2em;
}

.container {
	margin-bottom: 100px;
}

a {
	color: #ff6462;
	font-weight: bold;
}



/*
 * SIGN IN
 */


.authentication {
	background: url('../img/template/auth_background.jpg') 0 0 no-repeat;
}

.authentication #email {
	background: #fff url('../img/icons/email.png') 4px 7px no-repeat;
	padding-left: 33px;
}

.authentication #password {
	background: #fff url('../img/icons/password.png') 4px 3px no-repeat;
	padding-left: 33px;
}

.authentication #username {
	background: #fff url('../img/icons/username.png') 4px 3px no-repeat;
	padding-left: 33px;
}

.authentication h1 {
	color: #FF6464;
	font-size: 5em;
	font-weight: bold;
}

.authentication .strapline {
	font-size: 1.4em;
}

.authentication .form-control {
	font-size: 1.4em;
}

.authentication button {
	background: #FF6464;
	width: 100%;
	text-align: center;
	color: #fff;
	border: none;
	font-size: 1.4em;
}

.authentication .auth-form {
	margin-top: 100px;
}


/*
 * NAVIGATION
 */

 .looksy-navigation {
 	list-style: none;
 	background: #f4eeed;
 	margin:0;
 	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 0.5em 0;
    border-top: 5px solid #ff6462;
 }

 .looksy-navigation li {
 	display:inline;
 	margin-right: 16px;
 }

.looksy-navigation li img {
	width: 44px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top: 20px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.website-wrapper img {
	width: 100%;
}

.website-wrapper {
 margin-top: 20px;
 position: relative;
}

.website-wrapper .details {
	padding: 0;
    position: absolute;
    top: 50px;
    left: 99px;
    text-align: center;
    margin: 0 auto;
    width: 210px;
}

.website-wrapper .details a {
	color: #fff;
	background: #ff6462;
	display:inline-block;
}

.website-wrapper .details .title {
	font-size: 1.4em;
}

.website-wrapper .details .timing {
    color: #fff;
    background: #ff6462;
    display: inline-block;
}
.website-wrapper .details a.source {
	color: #ccc;
}

.profile-image {
	width:40px;
	height:40px;
}

.reply {
	margin-top: 10px;
}